<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<style>
    
</style>
<body>
<form action="welcomecheek.php" method="post">
        <table align="center">
            <tr>
                <h1 align="center">Welcome Page</h1>
                <hr>
            </tr>
            <tr>
                <td><input type="submit" value="Signup" name="signup"></td>
                <td><input type="submit" value="Registration" name="registration"></td>
            </tr>
            
        </table>
    </form>
</body>
</html>